.blue {
  background-color: #689bff;
}

.green {
  background-color: #1fca21;
}

.pink {
  background-color: #fd9a98;
}

.yellow {
  background-color: #fecb00;
}

.cell {
  width: 50px;
  height: 50px;
  margin: 0 3px 3px 0;
  display: inline-block;
  float: left;
  border: 1px solid #000;
  text-align: center;
  font-size: 12px;
  padding: 1px;
}

.cell.number {
  border-color: transparent;
  color: red;
  line-height: 50px;
}

.cell span {
  color: #1913a1;
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.blank {
  background-color: transparent;
  border-color: transparent;
}

.left {
  width: 159px;
  margin-right: 15px;
  display: inline-block;
  position: relative;
}

.left:before, .left:after {
  position: absolute;
  left: 35px;
}

.left:before {
  content: "*Lanthanoids";
  bottom: -65px;
  margin-bottom: 7px;
  color: red;
}

.left:after {
  content: "**Actinoids";
  bottom: -115px;
  margin-bottom: 8px;
  color: red;
}

.big-right {
  width: 848px;
  display: inline-block;
  vertical-align: top;
}

.center {
  display: inline-block;
  width: 530px;
}

.right {
  display: inline-block;
  width: 318px;
}

.bottom {
  display: inline-block;
  margin-top: 15px;
  position: relative;
  width: 742px;
}

.bottom:before {
  content: "*";
  color: red;
  left: -9px;
  top: 17px;
  position: absolute;
}

.bottom:after {
  content: "**";
  color: red;
  left: -15px;
  bottom: 10px;
  position: absolute;
}
