$size: 50px;
$margin: 3px;
$margin-between: 15px;

.blue { background-color: #689bff; }
.green { background-color: #1fca21; }
.pink { background-color: #fd9a98; }
.yellow { background-color: #fecb00; }

.cell {
    width: $size;
    height: $size;
    margin: 0 $margin $margin 0;
    display: inline-block;
    float: left;
    border: 1px solid #000;
    text-align: center;
    font-size: 12px;
    padding: 1px;

    &.number {
        border-color: transparent;
        color: red;
        line-height: $size;
    }

    span {
        color: #1913a1;
        display: block;
        font-size: 16px;
        font-weight: 600;
    }
}

.blank {
    background-color: transparent;
    border-color: transparent;
}

.left {
    $cols: 3;
    width: $size * $cols + $margin * $cols;

    margin-right: $margin-between;
    display: inline-block;
    position: relative;

    &:before,
    &:after {
        position: absolute;
        left: $size - $margin-between;
    }

    &:before {
        content: "*Lanthanoids";
        bottom: ($margin-between + $size) * -1;
        margin-bottom: 7px;
        color: red;
    }

    &:after {
        content: "**Actinoids";
        bottom: ($margin-between + $size * 2) * -1;
        margin-bottom: 8px;
        color: red;
    }
}

.big-right {
    $cols: 16;
    width: $size * $cols + $margin * $cols;
    display: inline-block;
    vertical-align: top;
}

.center {
    display: inline-block;
    $cols: 10;
    width: $size * $cols + $margin * $cols;
}

.right {
    display: inline-block;
    $cols: 6;
    width: $size * $cols + $margin * $cols;
}

.bottom {
    display: inline-block;
    margin-top: $margin-between;
    position: relative;

    $cols: 14;
    width: $size * $cols + $margin * $cols;

    &:before {
        content: "*";
        color: red;
        left: -9px;
        top: 17px;
        position: absolute;
    }

    &:after {
        content: "**";
        color: red;
        left: -15px;
        bottom: 10px;
        position: absolute;
    }
}
