<html>
    <head>
       <title>Dojo Survey</title>
    </head>

    <body>
      <form action="/result" method="post">
          Name: <input type="text" name="name">
          Dojo Location: <input type="text" name="location">
          Favorite Language: <select name="language"><option value="python">Python</option><option value="javascript">javascript</option></select>
          Comment (optional): <textarea name="comment"></textarea>
          <input type="submit" value="create user">
      </form>
    </body>
</html>
