<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Email Validation with DB</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1 class="center-align">Enter an email address</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="success section center-align white-text red darken-2">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="/process" class="section" method="post">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="email" name="email" id="email">
                    <label for="email">Email Address:</label>
                </div>
            </div>

            <div class="row right-align">
                <div class="input-field col s6 offset-s3">
                    <button class="btn-large">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
