<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>

    <body>
        <div style="text-align: center">
            <p>Current time and date</p>
            <h1>@ViewBag.CurrentDate</h1>
            <h2>@ViewBag.CurrentTime</h2>
        </div>
    </body>
</html>