<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <main>
        <div class="section">
            <div class="container">
                <h3 class="center-align">Survey Form</h3>

                <div id="message" class="row center-align green darken-1 white-text"></div>
                <div id="number" class="row center-align green darken-2 white-text"></div>

                <form action="/result" method="post">
                    <div class="row">
                        <div class="input-field col s10 m6 offset-s1 offset-m3">
                            <input type="text" name="name" id="name">
                            <label for="name">Your Name:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 m6 offset-s1 offset-m3">
                            <select name="location" id="location">
                                <option value="Seattle">Seattle</option>
                                <option value="San Francisco">San Francisco</option>
                                <option value="Chicago">Chicago</option>
                            </select>
                            <label for="location">Dojo Location</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 m6 offset-s1 offset-m3">
                            <select name="language" id="language">
                                <option value="Python">Python</option>
                                <option value="Mean">Mean</option>
                                <option value="iOS">iOS</option>
                            </select>
                            <label for="language">Favorite Language</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 m6 offset-s1 offset-m3">
                            <textarea name="comment" id="comment" class="materialize-textarea"></textarea>
                            <label for="language">Comment</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s10 m6 offset-s1 offset-m3 right-align">
                            <input type="submit" class="btn" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
