<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Users</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages(category_filter=['welcome']) %}
            {% if messages %}
                <div class="section center-align white-text green darken-2">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1 class="center-align">Users</h1>

        <table class="section bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                </tr>
            </thead>

            <tbody>
            {% for u in all_users %}
                <tr>
                    <td>{{ u['first_name'] }} {{ u['last_name'] }}</td>
                    <td>{{ u['email'] }}</td>
                    <td>{{ u['created_at'] }}</td>
                    <td class="right-align"><a href="/users/{{ u['id'] }}">Show</a></td>
                    <td class="right-align"><a href="/users/{{ u['id'] }}/edit">Edit</a></td>
                    <td class="right-align"><a href="/users/{{ u['id'] }}/destroy">Remove</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="/users/new">Create new user</a>

<!--
        <form action="/friends" class="section" method="post">
            <h4>Add a friend</h4>

            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="text" name="fname" id="fname">
                    <label for="fname">First Name:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="text" name="lname" id="lname">
                    <label for="lname">Last Name:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <input type="email" name="email" id="email">
                    <label for="email">Email Address:</label>
                </div>
            </div>

            <div class="row center-align">
                <div class="input-field col s6 offset-s3">
                    <button class="btn-large">Submit</button>
                </div>
            </div>
        </form>
-->
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
