<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results | Survery Form</title>
</head>
<body>
    <main>
        <div class="section">
            <div class="container">
                <h3>Survey Results</h3>

                <div class="row">
                    .col.right-alig
                </div>
            </div>
        </div>
    </main>
</body>
</html>
